@import "variables.scss";

/*-==========================================Footer=========================================-*/

.footer {
    // margin-top: -100px;
    background-color: #191919;
    padding-bottom: 30px;

    .less-footer {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 30px;

        .less-footer-button {
            text-decoration: none;
            padding: 9px 30px;
            background-color: #1f1f1f;
            border-radius: 0px 0px 20px 20px;
            font-size: 12px;
            color: #7F7F7F;
            letter-spacing: 1px;
            line-height: 15px;
        }
    }

    .foot-logo {
        text-align: center;
        padding-bottom: 20px;
        padding-top: 0;

        img {
            margin: 0 auto;
            max-width: 240px;
            margin-bottom: 15px;
            padding-top: 30px;
        }

        a,
        p {
            margin: 0;
            padding: 0;
            font-size: 11px;
            line-height: 18px;
            color: #7F7F7F;
        }
    }

    .title {
        font-size: 14px;
        color: #7F7F7F;
        line-height: 15px;
        text-transform: uppercase;
    }

    a,
    p {
        font-size: 12px;
        color: #7F7F7F;
        line-height: 24px;
        text-decoration: none;
    }

    a {
        &:hover {
            opacity: 0.8;
            color: #fff;
        }
    }

    .get-apps {
        padding-top: 30px;
        padding-left: 20px;

        i {
            width: 20px;
            text-align: center;
        }

        p {
            padding-right: 15px;
        }
    }
}

.v-x540 {
    display: none;
}

@media only screen and (max-width: 540px) {
    .x540 {
        width: 100%;
    }

    .x540-center {
        display: block;
        padding-top: 30px;
    }

    .hd-x540 {
        display: none;
    }

    .v-x540 {
        display: block;
        padding-top: 20px;
    }

    .x-540-50 {
        width: 50%;
    }
}

.scroll-up {
    position: fixed;
    display: none;
    z-index: 999;
    bottom: 2em;
    right: 2em;

    a {
        background-color: rgba(135, 135, 135, 0.5);
        display: block;
        width: 35px;
        height: 35px;
        text-align: center;
        color: #fff;
        font-size: 15px;
        line-height: 30px;
    }
}

.modal {
    text-align: center;
    padding: 0 !important;
    z-index: 9999;

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

    .m-thumb {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        background: #fff;

        .m-header {
            background: #394141;
            height: 45px;

            .head-title,
            h5 {
                padding: 0;
                margin: 0;
                font: 18px;
                font-weight: 700;
                color: #fff;
                padding-top: 16px;
                padding-bottom: 10px;
            }

            .m-close {
                padding: 0;
                margin: 0;
                padding-top: 1px;
                font-size: 30px;
                color: #fff;

                &:hover {
                    color: #eee;
                    text-decoration: none;
                    opacity: 0.7;
                }
            }
        }

        .m-body {
            background: #fff;
            padding: 0;
            overflow-x: hidden;
            overflow-y: auto;
        }

        .m-footer {
            padding: 10px;
            text-align: right;
            background-color: #222;

            a {
                font-family: AvenirMedium;
                font-size: 11px;
                width: 100%;
                color: #fff;
                border-radius: 3px;
                border: none;
                display: inline-block;
                padding-top: 7px;
                padding-bottom: 7px;
                width: 100px;
                text-align: center;
                border: 1px solid rgba(255, 255, 255, .6);
                letter-spacing: 1px;
                text-decoration: none;

                &:hover {
                    opacity: 0.8;
                    text-decoration: none;
                    opacity: 0.8;
                }
            }
        }
    }
}

#carouselproduct {
    .carousel-inner {
        img {
            width: 100%;
        }
    }

    .carousel-control {
        background: none;
        color: #fff;
        font-size: 2.3em;
        text-shadow: none;
        top: 50%;

        &:hover {
            color: #eee;
            text-decoration: none;
            opacity: 0.7;
        }
    }

    .carousel-control.left {
        left: 20px;
    }

    .carousel-control.right {
        right: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .modal {
        padding: 0;
        width: 100%;

        &:before {
            vertical-align: inherit;
            height: auto;
        }

        .m-thumb {
            width: 98%;
            vertical-align: inherit;
            margin: 0;
            margin-top: 110px;
            margin-bottom: 5%;
        }
    }
}


/*Bootstrap Resetter*/

// textarea:focus,
// input[type="text"]:focus,
// input[type="password"]:focus,
// input[type="datetime"]:focus,
// input[type="datetime-local"]:focus,
// input[type="date"]:focus,
// input[type="month"]:focus,
// input[type="time"]:focus,
// input[type="week"]:focus,
// input[type="number"]:focus,
// input[type="email"]:focus,
// input[type="url"]:focus,
// input[type="search"]:focus,
// input[type="tel"]:focus,
// input[type="color"]:focus,
// .uneditable-input:focus {
//     border-color: rgba(243, 179, 179, 0.6) !important;
//     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 2px rgba(243, 179, 179, 0.6) !important;
//     outline: 0 none;
// }
