@import "variables.scss";


.navbar-default {
    background-color: transparent;
    border: none;
    font-family: MontserratRegular;
    -webkit-transition: all 0.35s !important;
    -moz-transition: all 0.35s !important;
    transition: all 0.45s !important;
    max-width: 14000px !important;

    .navbar-header {
        .navbar-brand {
            color: #fff;
            font-family: MontserratRegular;
            text-transform: uppercase;
            padding: 9px 15px;

            &:hover,
            &:focus {
                color: $GreenTheme;
            }
        }

        .navbar-toggle {
            font-weight: 700;
            font-size: 12px;
            color: $GreenTheme;
            text-transform: uppercase;
        }
    }

    .navbar-nav>.active>a,
    .navbar-nav>.active>a:focus,
    .navbar-nav>.active>a:hover {
        background-color: transparent;
        color: $GreenTheme;
    }

    .nav>li {
        padding: 20px;
        padding-left: 0;
        padding-bottom: 10px;
        margin-left: 20px;
        font-family: MontserratRegular;

        a {
            text-transform: uppercase;
            font-size: 13px;
            color: #fff !important;
            background-color: transparent;
            padding: 2px 0;
        }

    }

    .nav>li>a:hover,
    .nav>li>a:focus,
    .nav>li>a:focus:hover,
    .nav>li.active>a:focus,
    .nav>li.active>a:hover,
    .nav>li.active>a:focus:hover {
        background-color: transparent;
        color: $GreenTheme !important;
    }


    .phone-contact {
        margin-top: -6px;

        a {
            border: 1px solid #fff;
            padding: 8px 15px !important;
            border-radius: 4px;

            &:hover {
                background: #fff !important;
            }
        }

        i {
            font-size: 16px;
            padding-right: 5px;
        }
    }

    /*Submenu Dropdown*/
    .dropdown-menu {
        background: #fff;
        border: none;
        border-radius: 2px;
        text-align: left;
        margin: 0;
        padding: 0;
        min-width: 160px;
        left: 0 !important;
        padding: 10px 15px;
        // padding-top: 5px;
        // padding-bottom: 6px;
        // padding-left: 23px;
        -webkit-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
        letter-spacing: 0.5px;

        .fa-caret-up {
            // position: absolute;
            // top: -15px;
            // left: 50%;
            // margin-left: -10px;
            // width: 20px;
            // font-size: 21px;
            // color: #fff;
            display: none;
        }
    }

    .dropdown-menu>li>a {
        border: none;
        margin-bottom: 0 !important;
        transition: all 0.09s ease-in-out;
        border: none;
        margin-bottom: 0 !important;
        -webkit-transition: all 0.09s ease-in-out;
        transition: all 0.09s ease-in-out;
        display: block !important;
        padding: 3px 0;
        margin: 0;
        width: auto !important;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        $GreenTheme-space: nowrap;
        text-transform: capitalize !important;
        color: $DarkBg !important;

        &:hover {
            color: $GreenTheme !important;
            text-shadow: none;
            border: none !important;
            text-decoration: none;
            background: transparent;
        }
    }

    .dropdown-submenu {
        position: relative;
    }

    ul.nav li:hover>ul.dropdown-menu {
        display: block;
    }
}


.top-nav-collapse.navbar-default {
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 16px 4px;
    -webkit-transition: all 0.35s !important;
    -moz-transition: all 0.35s !important;
    transition: all 0.45s !important;

    .phone-contact {

        a {
            border: 1px solid #333333;
        }

    }

    .navbar-header {
        .navbar-brand {
            color: #fff;
            font-family: MontserratRegular;
            text-transform: uppercase;

            &:hover,
            &:focus {
                color: $GreenTheme;
            }
        }

        .navbar-toggle {
            font-weight: 700;
            font-size: 12px;
            color: $GreenTheme;
            text-transform: uppercase;
        }
    }

    .navbar-nav>.active>a,
    .navbar-nav>.active>a:focus,
    .navbar-nav>.active>a:hover {
        background-color: transparent;
        color: #333333;
    }

    .nav>li {
        padding: 20px;
        padding-bottom: 10px;
        font-family: MontserratRegular;

        a {
            text-transform: uppercase;
            font-size: 13px;
            color: #333333 !important;
            background-color: transparent;
            padding: 2px 0;
        }

    }

    .nav>li>a:hover,
    .nav>li>a:focus,
    .nav>li>a:focus:hover,
    .nav>li.active>a:focus,
    .nav>li.active>a:hover,
    .nav>li.active>a:focus:hover {
        background-color: transparent;
        color: $GreenTheme !important;
    }


    .dropdown-menu>li>a {
        border: none;
        margin-bottom: 0 !important;
        transition: all 0.09s ease-in-out;
        border: none;
        margin-bottom: 0 !important;
        -webkit-transition: all 0.09s ease-in-out;
        transition: all 0.09s ease-in-out;
        display: block !important;
        padding: 3px 0;
        margin: 0;
        width: auto !important;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        $GreenTheme-space: nowrap;
        text-transform: capitalize !important;
        color: $DarkBg !important;

        &:hover {
            color: $GreenTheme !important;
            text-shadow: none;
            border: none !important;
            text-decoration: none;
            background: transparent;
        }
    }

}

$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
$screen-tablet: $screen-sm-min !default;
$screen-xs-max: ($screen-sm-min - 1) !default;

.nav-inline {
    .nav {
        li {
            position: static;

            &.open {
                &:before {
                    content: " ";
                    display: block;
                    background: transparent;
                    position: absolute;
                    width: 100%;
                    height: 50px;
                    top: 30px;
                    // right: 0;
                    // left: 0;

                    @media (max-width: $screen-xs-max) {
                        display: none;
                    }
                }
            }
        }

        .dropdown-menu {
            // left: 0 !important;
            // right: 0 !important;
            box-shadow: none;
            border: none;
            // margin: 0 auto;
            // max-width: 1170px;
            background: #fff;
            padding: 0;
            margin: 0 auto !important;
            width: 100%;
            text-align: center !important;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
                0 1px 2px rgba(0, 0, 0, 0.24);
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1);


            li {
                // float: right;
                display: inline-block;
                float: none !important;

                @media (max-width: $screen-xs-max) {
                    float: none;
                }

                a {
                    width: auto !important;
                    background: #fff;
                    line-height: 49px;
                    padding-top: 0;
                    padding-bottom: 0;
                    margin: 0;
                    color: #888;
                    padding: 0 10px;

                    &:hover {
                        color: #000;
                    }
                }
            }
        }
    }
}
