@font-face {
    font-family: ArapeyRegular;
    src: url(../libraries/fonts/Arapey-Regular.ttf);
}

@font-face {
    font-family: KarlaRegular;
    src: url(../libraries/fonts/Karla-Regular.ttf);
}

@font-face {
    font-family: KarlaBold;
    src: url(../libraries/fonts/Karla-Bold.ttf);
}

@font-face {
    font-family: ArapeyRegular;
    src: url(../libraries/fonts/Arapey-Regular.ttf);
}

@font-face {
    font-family: ArapeyItalic;
    src: url(../libraries/fonts/Arapey-Italic.ttf);
}

@font-face {
    font-family: MontserratMedium;
    src: url(../libraries/fonts/Montserrat-Medium.otf) format('opentype');
}

@font-face {
    font-family: MontserratRegular;
    src: url(../libraries/fonts/Montserrat-Regular.otf) format('opentype');
}

@font-face {
    font-family: MontserratSemiBold;
    src: url(../libraries/fonts/Montserrat-SemiBold.otf) format('opentype');
}

@font-face {
    font-family: MontserratLight;
    src: url(../libraries/fonts/Montserrat-Light.otf) format('opentype');
}

@font-face {
    font-family: Raleway;
    src: url(https://fonts.googleapis.com/css?family=Raleway);
    ;
}


$GeneralColor:#555;
$ThemeColor:rgba(254, 128, 39, 1);
$Overlay:rgba(0, 0, 0, 0.4);
$BannerOverlay:rgba(35, 49, 34, 0.4);
$BtnColor:#fe8027;
$Footer:#394141;
$TitleColor:#595959;
$Desc:#2a2a2a;
$primary:#fe8027;
$color:#fe8027;
$background:#fe8027;
$border:#fe8027;
$theme-primary: #F05F40;
$DarkBg:#36383f;
$Overlay:rgba(54, 56, 63, 0.6);
$GreenTheme :#27C566;
$GreenBtn:#80bc73;
$DetailContactColor:#202020;